<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Crucible Review</title>
</head>
<body>
    <div class="text-center"> 
        <label for="FromDate">FromDate : </label> <input id="fromDate" type="date" value="2016-01-01" />
        <label for="FromDate">ToDate : </label> <input id="toDate" type="date" value="2016-01-01" />
    </div>
    <div>
        <br />
        <input type="submit" id="submitDate" value="SearchForReviews" />
    </div>
</body>
</html>
